<h3>O que é Roda da Vida?</h3>
<hr>
<p>A Roda da Vida é uma ferramenta utilizada para realizar avaliações pessoais. O método é baseado em um reflexão sobre
    as áreas fundamentais da nossa experiência diária, como relacionamentos, qualidade de vida e outros.</p>

<p>Esse instrumento teve suas origens na década de 60, criado pelo americano Paul J. Meyer. Ele tornou-se famoso por
    seus trabalhos e livros na área de motivação e continua ativo, oferecendo palestras sobre o tema.</p>

<p>A estrutura da roda da vida pode ser comparada com um gráfico de pizza. O círculo é fatiado em partes, que
    representam cada área fundamental da vida.</p>

<p>O número de áreas varia conforme o modelo utilizado: o círculo pode ser dividido entre oito, dez, doze ou
    mais categorias. Cada uma dessas partes será dedicada a um setor da vida. A pessoa deverá, então,
    determinar seu nível de satisfação com cada uma dessas áreas.</p>

<p>A Roda da Vida oferece para aquele que a utiliza uma visão mais sistêmica de sua vida, permitindo que
    leve em conta alguns dos aspectos mais relevantes e que necessitam de mais atenção. Também oferece
    ao coach elementos importantes para serem trabalhados em sessões futuras.</p>